header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav {
    display: flex;
}

.card-timer {
    display: flex;
    justify-content: flex-end;
}

h1 {
    display: flex;
    justify-content: center;
    padding-left: 300px;
    font-size: 60px;
}


h2 {
    font-size: 40px;
}

.Highscores {
    font-size: 20px;
    text-decoration: none;
}

li {
    padding-bottom: 10px;
}

.timer-text {
font-size: 30px;
padding-left: 300px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

#img-section {
    display:flex;
    justify-content: center;
}

img {
    width: 70%;
    height: 400px;
}

#rules p {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    width:600px;
    padding: 20px;
}

#quiz-rules {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* button wont center---------------------------- */
button {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}



#startButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
#startButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
#startButton:active {
	position:relative;
	top:1px;
}
#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#question li {
    display:flex;
    justify-content: center;
}

#question {
    font-size: 25px;
    padding: 15px
}

#allDone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}

#userInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#initials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

#submit {
    font-size: 20px;
}

h3 {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}